.vagrant
Berksfile.lock
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.idea
.DS_Store
/*.osm
spec/files/*/run
spec/files/*/*.log
spec/files/*/*.job
spec/files/*/StandardReports
spec/files/*/datapoint_out.json
spec/files/*/*.zip
spec/files/*/reports
spec/files/*/lib
spec/files/*/measures
spec/files/*/weather
spec/files/*/seed
