.vagrant
Berksfile.lock
*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.idea
.DS_Store
rubocop-results.xml
/*.osm
spec/files/**/run
spec/files/**/*.log
spec/files/**/*.job
spec/files/**/StandardReports
spec/files/**/datapoint_out.json
spec/files/**/*.zip
spec/files/**/reports
spec/files/**/measures
spec/files/**/weather
spec/files/**/seed
spec/files/*/*.json
spec/files/dynamically_created/*
spec/files/local_ep*
